body{
    background-color:rgb(44, 42, 43) !important;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.877);
    margin: 15px;
    font-size: 20px;
    color: cornsilk;
    border-radius: 2px;

}
.main, 
.attractions, 
.photo, 
.history{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 75%;
    color: cornsilk !important;
    padding: 10px;
    text-decoration: none !important;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./pages/compon/Attrac_img/k0730-500.jpg );
    margin-top: 10px;
    margin-left: 15px;
    
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-links {
    display: flex;
    width: 60%;
    justify-content: stretch;
    /* color: cornsilk !important; */
    /* margin: 10px;
    padding: 10px; */
    /* text-decoration: none !important; */

}

.main:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}
.attractions:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}
.photo:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}
.history:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #ffff;
}

h2 {
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
    color: #ffff;
}

.astimg {
    margin: 10px;
    height: 100vh;
    background: url(./pages/compon/scale_1200.jfif) no-repeat;
    background-size: 100%;
}

.typed-text {
    font-size: 2rem;
    color: var(--primary-gray);
    text-align: center !important;
    margin-top: 10rem;    
}
    
/*****************Gallery**************/

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    transition: 0.5ms;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transform: scale(1.11);
}

.thumb {
    padding: 5px;
}

.callout-warning {
    text-align: left;
    box-shadow: 0px 0px 11px 7px rgb(0, 0, 0);
    margin-top: 20px;
    background-color: #ffffff !important;
    padding: 5px;
}

.mobile-menu-icon {
    display: none;
}



