

body{
    background-color:rgb(44, 42, 43) !important;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.877);
    margin: 15px;
    font-size: 20px;
    color: cornsilk;
    border-radius: 2px;

}
.main, 
.attractions, 
.photo, 
.history{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 75%;
    color: cornsilk !important;
    padding: 10px;
    text-decoration: none !important;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./pages/compon/Attrac_img/k0730-500.jpg );
    margin-top: 10px;
    margin-left: 15px;
    
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-links {
    display: flex;
    width: 60%;
    justify-content: stretch;
}

.main:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}
.attractions:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}
.photo:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}
.history:hover, :focus {
    text-decoration: overline !important;
    color: cyan !important;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #ffff;
}

h2 {
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
    color: #ffff;
}

.astimg {
    margin: 10px;
    height: 100vh;
    background: url(./pages/compon/scale_1200.jfif) ;
    background-size: 100%;
}

.typed-text {
    font-size: 2rem;
    text-align: center !important;
    margin-top: 10rem;    
}
    
/*****************Gallery**************/

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    transition: 0.5ms;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transform: scale(1.11);
}

.thumb {
    padding: 5px;
}

.callout-warning {
    text-align: left;
    box-shadow: 0px 0px 11px 7px rgb(0, 0, 0);
    margin-top: 20px;
    background-color: #ffffff !important;
    padding: 5px;
}

.mobile-menu-icon {
    display: none;
}


@media screen and (max-width: 740px) {
    .log {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
        
    }

    .nav-links {
        display: none;
    }
    
    .main, 
    .attractions, 
    .photo,
    .history{
        display: block;
        text-align:left;
        padding: 30px;
        width: 100%;
        transition: all 0.5s ease;
        
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        top: 60px;
        transition: all 0.5s ease;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.877);
        padding: 0 !important;
        

    }

    .main:hover{
        background-color: rgb(138, 135, 132);
    } 
    .attractions:hover{
        background-color: rgb(138, 135, 132);
    } 
    .photo:hover{
        background-color: rgb(138, 135, 132);
    } 
    .history:hover{
        background-color: rgb(138, 135, 132);
    }

    .mobile-menu-icon {
        display: block;
        font-size: 30px;
        color: white !important;
        background-color: rgba(0, 0, 0, 0.877);
        border: none;
        outline: none;
        margin-right: 15px;

    }

    .typed-text {
        font-size: 1.3rem;
    }
}